*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 1.4rem;
    color: rgb(17, 16, 16);
    background-color: rgb(226, 215, 144);
}
table,td,th{
    border: 2px solid rgb(223, 25, 25);
    border-collapse: collapse;
    padding: 10px 15px;
}