body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #edeeca;
}

#app {
    width: 300px;
    background-color: #c7f2f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 6px 8px black;
}
#app h1{
    margin-top: 5px;
    text-align: center;
}
#expense-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {   
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#expense-list {
    max-height: 200px;
    overflow-y: auto;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}