*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table{
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.4rem;
    color: rgb(17, 16, 16);
    border: 5px solid black;
    border-collapse: collapse;
}
.marks,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px 15px;
}
.marks{
    width: 600px;
}
.marks thead{
    text-align: left;
}