*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: gray;
    color: azure;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.header ul{
    width: 400px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.header img{
    padding: 5px;
}
.main{
    min-height: 100vh;
}
.main img{
    width: 400px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: bisque;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    color: azure;
    font-size: 1rem;
    padding: 30px;
}