nav{
    display: flex;
    justify-content: space-between;  
    border: 1 solid grey;
    padding: 10px;
    background-color: antiquewhite;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
    margin-right: 70px;
}
nav li{
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}